*{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 80px 10px 20px 10px;
}

.styleP{
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


footer{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.menu ul{padding: 0;list-style-type: none;}
.menu ul li{display: inline-block;}
.menu ul li a{padding: 10px; display: block;}


.auto-contenitore {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: rgb(25, 25, 25);
    padding: 20px;
    margin: 5px;
}
.auto-contenitore p {
    color: #ffffff;
    background-color: rgb(25, 25, 25);
    font-size: 17.5px;
    line-height: 1.5;
    margin: 0;
}
.auto-contenitore img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 900px){
    .auto-contenitore{flex-direction: column;}
}